<!DOCTYPE html>
<html>
<body style="background-color:grey ">
<h1 style="text-align: center;padding-bottom: 164px;">COVID-19 automatic diagnosis</h1>
<form action="upload.php" method="post" onsubmit="return validateForm()" name ="covid" required>
	<div style="background-color:#C0C0C0;border-radius: 100px">
 <p ><h1 style="text-align: center;padding-top: 50px">Select image to upload:</h1></p>	
 <div style="margin-left: 500px;padding-bottom: 100px;padding-top: 100px">	
  <input type="file" name="fileimage" >
  <! <input type="submit" value="Upload Image" name="submit"> >
  <a href="upload.html">Upload Image</a><br>
</div>
</div>
</form>

</body>
<script>
	function validateForm() {
  var x = document.forms["covid"]["fileimage"].value;
  if (x == "") {
    alert("please upload the image");
    return false;
  }
}
	</script>
</html>
